<%= form_with(model: [:admin, offer], local: true) do |form| %>
  <div class="row">
    <div class="col s6 input-field">
      <%= form.label :advertiser_name, class: :active %>
      <%= form.text_field :advertiser_name, id: :offer_advertise_name %>
      <%= validation_error_message_for @offer, :advertiser_name %>
    </div>

    <div class="col s6 input-field">
      <%= form.label :url, class: :active %>
      <%= form.url_field :url, id: :offer_url %>
      <%= validation_error_message_for @offer, :url %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 input-field">
      <%= form.text_area :description, id: :offer_description,
        class: "materialize-textarea", "data-length" => "500" %>
      <%= form.label :description, class: :active %>
      <%= validation_error_message_for @offer, :description %>
    </div>
  </div>

  <div class="row">
    <div class="col s6 input-field">
      <%= form.label :starts_at, class: :active %>
      <%= form.text_field :starts_at, id: :offer_starts_at,
        class: :datetimepicker %>
      <%= validation_error_message_for @offer, :starts_at %>
    </div>

    <div class="col s6 input-field">
      <%= form.label :ends_at, class: :active %>
      <%= form.text_field :ends_at, id: :offer_ends_at,
        class: :datetimepicker %>
      <%= validation_error_message_for @offer, :ends_at %>
    </div>
  </div>

  <div class="field">
    <%= form.check_box :premium, id: :offer_premium %>
    <%= form.label :premium, class: :active %>
    <%= validation_error_message_for @offer, :premium %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Save", class: "btn waves-effect waves-light" %>
  </div>
<% end %>
