<tr>
  <td><%= offer.id %></td>
  <td><%= offer.advertiser_name %></td>
  <td><%= link_to offer.url, offer.url, target: :blank %></td>
  <td><%= offer.status.capitalize %></td>
  <td><%= link_to 'Show', [:admin, offer] %></td>
  <td><%= link_to 'Edit', edit_admin_offer_path(offer) %></td>
  <td><%= link_to_toggle_offer_status(offer) %></td>
  <td><%= link_to 'Destroy', [:admin, offer], method: :delete,
    data: { confirm: 'Are you sure?' } %></td>
</tr>
