<div class="section row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <p>
          <strong>Advertiser name:</strong>
          <%= @offer.advertiser_name %>
        </p>

        <p>
          <strong>URL:</strong>
          <%= link_to @offer.url, @offer.url, target: :blank %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @offer.description %>
        </p>

        <p>
          <strong>Starts at:</strong>
          <%= l @offer.starts_at, format: :short %>
        </p>

        <p>
          <strong>Ends at:</strong>
          <%= l @offer.ends_at, format: :short %>
        </p>
      </div>

      <div class="card-action">
        <%= link_to 'Edit', edit_admin_offer_path(@offer), class: :btn %>
      </div>
    </div>
  </div>
</div>
