<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.advertiser_name %>
</p>

<p>
  <strong>URL:</strong>
  <%= link_to @offer.url, @offer.url, target: :blank %>
</p>

<div>
  <p>
    <strong>Description:</strong>
  </p>

  <%= simple_format @offer.description %>
</div>

<p>
  <strong>Starts at:</strong>
  <%= l @offer.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= l @offer.ends_at %>
</p>

<%= link_to 'Edit', edit_admin_offer_path(@offer) %> |
<%= link_to 'Back', admin_offers_path %>
