<!DOCTYPE html>

<html>
  <head>
    <title>Lemoney Interview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <%= link_to "Lemoney Interview", root_path, class: "brand-logo" %>

        <ul class="right">
          <li><%= link_to "Admin", admin_root_path %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
